@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-normalSky;
}

button {
  outline: none;
}

::selection {
  background: #fff;
  color: #0ea5e9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #0369a1;
}

.app-container {
  @apply max-w-[380px] w-full h-full px-[10px];
}

.flex-center {
  @apply flex justify-center items-center;
}

.home-button {
  @apply w-full bg-lightSky py-2 text-normalSky font-medium rounded-md;
}